<div class="footer">
    <address>
        Contact Us at <a>aaicareers@gmail.com</a>.
    </address>
    <a href="#" aria-label="Follow us on Facebook" class="fa fa-facebook" target=”_blank”></a>
    <a href="#" aria-label="Read our company profile on Linden" class="fa fa-linkedin" target=”_blank”></a>
    <a href="#" aria-label="Follow us on Instagram" class="fa fa-instagram" target=”_blank”> </a> </br>
    <a style="color:white;" href="https://ga01000373.schoolwires.net/alliance" aria-label="View credits"> Visit Our
        School Page</a> </br>
    <a style="color:white;" href="/credits.html" aria-label="View credits"> Credits</a> </br>
</div>