<div class="header">
    <a href="/"><img src="/images/allianceLogo.png" alt="Alliance Logo"
            style="height: 75px; vertical-align: middle;"></a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/availableJobs">Careers</a>
        <a href="/signin">Log In</a>
    </div>
</div>