<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
</head>

<body>


<header>
   <%- include('./partials/header') %>
</header>

<style>
   .parallax {
     /* The image used */
   background-image: url("aai.jpg");
   
   /* Set a specific height */
   min-height: 500px;
   
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   }
   </style>

<div class='parallax'>
   <div style="height: 150px;"></div>
   <img src="/images/allianceLogo.png" alt="Alliance Logo" style="display: block; margin-left: auto; margin-right: auto; width: 300px;">
   <h1 class="title" style="padding: 10px 20px; background-color: white; text-align: center; margin-top: 50px; display: inline-block; position: relative; top: 50px; left: 50%; transform: translateX(-50%); font-size: 36px; border-radius: 10px;">Credits</h1>
   <div style="height: 250px;"></div>
<div class="developers" style="padding: 10px 20px; background-color: white; text-align: center; margin-top: 50px; display: inline-block; position: relative; top: 50px; left: 50%; transform: translateX(-50%); border-radius: 10px;">
    <h3 style="font-size: 45px;">Developers:</h3>
      <p style="font-size: 35px;">
        ‎ ‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ Siri Penmatsa‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
      </p>
      <p style="font-size: 35px;">
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ Sree Penmatsa‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
     </p>
     <p style="font-size: 35px;">
        <p style="font-size: 10px;">
            ‎
         </p>
     </p>
   </div>
   <div style="height: 125px;"></div>
   <div class="references" style="padding: 10px 20px; background-color: white; text-align: center; margin-top: 50px; display: inline-block; position: relative; top: 50px; left: 50%; transform: translateX(-50%); border-radius: 10px;">
    <h3 style="font-size: 45px;">References:</h3>
      <p style="font-size: 35px;">
        ‎ ‎ ‎ ‎ ‎ <a href="https://ga01000373.schoolwires.net/alliance">Alliance Academy for Innovation</a>‎ ‎ ‎ ‎ ‎ ‎ 
</p>
     <p style="font-size: 35px;">
        <p style="font-size: 10px;">
            ‎
         </p>
     </p>
   </div>
   <div style="height: 200px;"></div>

   
<footer>
   <%- include('./partials/footer') %>
</footer>
</body>