<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <div style="padding-left:20px">
        <section>
            <h1>
                Hello, NAME
            </h1>
        </section>
    </div>

    <a class="btn" href="../../html/student/application.html"> Browse Job Postings! </a>
    </button>
    </section>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>